.instructor-card {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
    text-align: left;
    max-width: 400px;
    display: inline-block;
}

.instructor-card img {
    width: 200px;
    height: 200px;
    /* border-radius: 50%; */
    margin-bottom: 10px;
}
